<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Java Sring project" />
    <meta
      name="author"
      content="Geraldine Hernandez, Diego Polinia, Abed Moati"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Appetite register</title>
  </head>

  <body>
    <!-- header -->
    <header id="header">
      <section class="bg-light d-flex header">
        <div class="container-fluid ml-2 mt-3 d-flex justify-content-between">
          <div class="">
            <a
              class="navbar-brand"
              href="https://github.com/mauro3333/appetite_order_delivery_management"
            >
              <img
                src="/img/Appetite.png"
                alt="appetite"
                srcset="/img/Appetite.png"
              />
            </a>
          </div>
          <div>
            <nav
              class="nav-menu m-0 float-right d-sm-block navbar navbar-expand-lg"
              id="navbarSupportedContent"
            >
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <ul>
                <div
                  class="collapse navbar-collapse"
                  id="navbarSupportedContent"
                >
                  <li class="drop-down">
                    <a
                      class="active nav-link text-uppercase text-danger font-weight-normal"
                      href="/"
                    >
                      <u> home </u>
                    </a>
                  </li>
                </div>
              </ul>
            </nav>
          </div>
        </div>
      </section>
    </header>

    <!-- <div>
      <form action="/client/save" method="POST">
        <fieldset>
          <legend>New Client</legend>

          <div>
            <label>First name: </label>
            <input
              type="text"
              placeholder="Type First Name here!"
              th:field="${client.firstName}"
            />
            <br />
            <br />
            <label>Last name: </label>
            <input
              type="text"
              placeholder="Type Last Name here!"
              th:field="${client.lastName}"
            />
            <br />
            <br />
            <label>Email: </label>
            <input
              type="email"
              placeholder="Type Email here!"
              th:field="${client.email}"
            />
            <br />
            <br />
            <label>Phone Number: </label>
            <input
              type="tel"
              placeholder="Type Phone Number here!"
              th:field="${client.phone}"
            />
            <br />
            <br />
            <label>Address: </label>
            <input
              type="text"
              placeholder="Type Address here!"
              th:field="${client.address}"
            />
            <br />
            <br />
            <label>Method of Payment: </label>
            <select th:field="${client.methodOfPayment}">
              <option th:value="Cash">Cash</option>
              <option th:value="Debit-Card">Debit Card</option>
              <option th:value="Credit-Card">Credit Card</option>
            </select>
          </div>
          <br />
          <br />
          <button type="submit">Create!</button>
        </fieldset>
      </form>
    </div> -->

    <section style="background-color: #eee">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black m-5" style="border-radius: 25px">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                      Sign up
                    </p>

                    <form
                      class="mx-1 mx-md-4"
                      action="/client/save"
                      method="POST"
                    >
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="text"
                            id="form3Example1c"
                            class="form-control"
                            th:field="${client.firstName}"
                            placeholder="name"
                          />
                          <label class="form-label" for="form3Example1c"
                            >Your Name</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="text"
                            id="form3Example1c"
                            class="form-control"
                            th:field="${client.lastName}"
                            placeholder="lastname"
                          />
                          <label class="form-label" for="form3Example1c"
                            >Your Lastname</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="text"
                            id="form3Example1c"
                            class="form-control"
                            th:field="${client.phone}"
                            placeholder="phone"
                          />
                          <label class="form-label" for="form3Example1c"
                            >Your Phone</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="text"
                            id="form3Example1c"
                            class="form-control"
                            th:field="${client.address}"
                            placeholder="address"
                          />
                          <label class="form-label" for="form3Example1c"
                            >Your Address</label
                          >
                        </div>
                      </div>

                      <!-- <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <select th:field="${client.methodOfPayment}">
                        
                            <option th:value="Cash">Cash</option>
                            <option th:value="Debit-Card">Debit Card</option>
                            <option th:value="Credit-Card">Credit Card</option>
                          </select>
                          <label class="form-label" for="form3Example1c"
                            >Payment method</label
                          >
                        </div>
                      </div> -->
<div class="d-flex flex-row align-items-center mb-4">
   <i class="fas fa-dollar-sign fa-lg me-3 fa-fw"></i>
                      <select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">Cash</option>
  <option value="2">Debit Card</option>
  <option value="3">Credit Card</option>
</select>
</div>
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="email"
                            id="form3Example3c"
                            class="form-control"
                            th:field="${client.email}"
                            placeholder="email"
                          />
                          <label class="form-label" for="form3Example3c"
                            >Your Email</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="password"
                            id="form3Example4c"
                            class="form-control"
                            placeholder="password"
                          />
                          <label class="form-label" for="form3Example4c"
                            >Password</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="password"
                            id="form3Example4cd"
                            placeholder="repeat your password"
                            class="form-control"
                          />
                          <label class="form-label" for="form3Example4cd"
                            >Repeat your password</label
                          >
                        </div>
                      </div>

                      <div
                        class="form-check d-flex justify-content-center mb-5"
                      >
                        <input
                          class="form-check-input me-2"
                          type="checkbox"
                          value=""
                          id="form2Example3c"
                        />
                        <label class="form-check-label" for="form2Example3">
                          I agree all statements in
                          <a href="#!">Terms of service</a>
                        </label>
                      </div>

                       
                       <div
                       class="d-flex flex-row align-items-center mb-4"
                     >
                       <label class="form-label">
                        Already have an account?
                         <a href="/login/login">Login</a>
                       </label>
                     </div>

                      <div
                        class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                      >
                        <button type="submit" class="btn btn-primary btn-lg">
                          Register
                        </button>
                      </div>
                    </form>
                  </div>
                  <div
                    class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
                  >
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                      class="img-fluid"
                      alt="Sample image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
